<html>

    <head><title>Example</title></head>

    <body>
        <form action="/enviar" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="name" name="name">
            <input type="text" name="description">
            <input type="file" name="image">
            <br>
            <input type="submit">
        </form>
        <div>
            
            <div>
                <button><a href="https://www.tiktok.com/auth/authorize/">Login com tiktok</a></button>
                <button><a href="/redirect">Access token</a></button>
            </div>
        </div>
    </body>
    </html>